#box {
    width: 80%;
    border: 1px solid black;
    display: flex;
    margin-bottom: 20px;
}

.imagecomponent > img{
    width: 200px;
    height: 200px;
    padding: 20px 20px 10px 20px;
    display: flex;
}

.imagecomponent > text {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 42.5px;
    margin-left: 20px;
    color: white;
    background-color: rebeccapurple;
}

.VisiMisi {
    text-align: justify;
    padding-right: 20px;
}

.VisiMisi > h1 {
    color: purple;
}

/* #combination {
    float: left;
} */

.box1 {
    border: 1px solid black;
    width: 40%;
    float: left;
    text-align: center;
}

.box1 > h1{
    color: purple;
    font-weight: bold;
}

.box1 > iframe {
    width : 500px;
    height : 300px;
    margin: 10px;
}

.box2 {
    border: 1px solid black;
    width: 40%;
    justify-content: center;
    float: left;
}

.box2 > h1{
    color: purple;
    font-weight: bold;
}

.box2 > table {
    justify-content: center;
}

#jadwal {
    border: 1px solid black;
}

.jadwal1 > li {
    float: left;
}