html, body {
    height: 100%;
}

body {
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#Register {
    background-color: rgb(245, 215, 245);
    margin: 0 auto;
    width: 30%;
    border: 1px solid pink;
    margin-top: 50px;
    padding: 10px;
}

#Register > h1 {
    text-align: center;
}

.npm {
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.npm > input {
    margin-top: 5px;
    width: 100%;
}

.name {
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.name > input {
    margin-top: 5px;
    width: 100%;
}

.box {
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.box > input {
    margin-top: 5px;
    width: 100%;
}

.placebirth {
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.placebirth > input {
    margin-top: 5px;
    width: 100%;
}

.birthdate {
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.birthdate > input {
    margin-top: 5px;
    width: 100%;
}

.radio {
    margin-top: 15px;
}

.radio > input {
    margin-top: 5px;
}

.address {
    margin-top: 15px;
    padding-right: 10px;
    font-weight: bold;
}

.address > textarea {
    margin-top: 5px;
    width: 100%;
}

.button-group {
    text-align: center;
}

.button-group > button {
    padding: 10px 15px;
}

.btn-blue {
    background-color: blue;
    color: white;
    font-weight: bold;
}